.scroll-smooth {
    scroll-behavior: smooth;
    background-image: url('../../../assets/thomas-lefebvre-mT1uxKaegSQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 2800px; 
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}