.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    scroll-behavior: smooth;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Imagen por defecto (modo claro) */
/* .home.light {
    background-image: url('../../../../assets/ivan-bandura-WhIff5iuW-E-unsplash.jpg');
} */

/* Imagen para modo oscuro */
/* .home.dark {
    background-image: url('../../../../assets/matt-gross-9aCkSl6YcXg-unsplash.jpg');
} */
